/*Fonts*/
@font-face {
    font-family: "Merriweather Light";
    src: url('../fonts/Merriweather-Light.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    direction: ltr;
}

#main-container {
    display: flex;
    flex-direction: column;
}

.vl {
    border-left: 2px solid #f7ac53;
}

/*introduce container style*/
#introduce-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/introduce-container/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50.2rem;
    font-family: "Merriweather Light";
    color: white;
    font-size: 3rem;
}

#company-name {
    color: #f7ac53;
}

#introduce-description {
    text-align: center;
    width: 45rem;
    border: 2px solid #262626;
    padding: 3rem 1rem;
}

#introduce-services {
    padding-top: 1rem;
    font-size: 0.9rem;
}

#introduce-services span {
    padding-right: 1rem;
}

#introduce-services i {
    padding-right: 1rem;
}

#fusion-logo {
    position: absolute;
    bottom: 2rem;
    left: 3.5rem;
    margin-bottom: 0px;
}

#get-in-touch {
    position: absolute;
    bottom: 2rem;
    right: 3.5rem;
    font-size: 0.8rem;
}

#get-in-touch img {
    width: auto;
    padding-left: 0.5rem;
}

/*Services container style*/
#services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 40rem;
    background-color: #202020;
    font-family: "Merriweather Light";
}

#services-title {
    color: #feb960;
    margin-top: 0.5rem;
}

#services-description {
    color: white;
    font-size: 2.8rem;
    text-align: center;
    width: 45rem;
    padding-top: 3rem;
}

#services-boxes {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.service-box-icon {
    width: max-content;
}

.service-box {
    display: flex;
    flex-direction: column;
    color: white;
    width: 10rem;
    height: auto;
}

.service-box-title {
    padding-top: 0.5rem;
    font-size: 2.3rem;
}

.service-box-description {
    color: #bbbbbb;
    font-size: 0.7rem;
    padding: 1.3rem 0rem;
}

.service-box-sorrow {
    padding-left: 0.5rem;
}

/*Portfolio container*/
#portfolio-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Merriweather Light";
    width: 100%;
    height: 45rem;
    background-color: #181818;
    color: white;
}

#portfolio-cat {
    font-size: 9pt;
    color: #feb960;
}

#portfolio-title {
    font-weight: lighter;
    font-size: 35pt;
}

#portfolio-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 3;
    margin-right: -5.5rem;
    margin-top: -23rem;
}

#portfolio-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

#portfolio-details {
    z-index: 3;
    margin-bottom: -26.2rem;
    margin-left: 1rem;
}

#portfolio-lines {
    position: relative;
    width: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;

}

#portfolio-lines hr {
    width: 5rem;
}

/*Customers container style*/
#customers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202020;
    color: white;
    width: 100%;
    height: max-content;
}

#customers-header {
    font-family: "Merriweather Light";
    display: flex;
    flex-direction: column;
    align-items: center;
}

#customers-title {
    color: #feb960;
    font-size: 10pt;
    padding-top: 1rem;
}

#customers-description {
    width: 48rem;
    font-size: 25pt;
    text-align: center;
    padding-top: 1.5rem;
}

#customers-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 4rem;
}

#customers-icon img {
    filter: grayscale(100%);
}

#customers-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    padding-bottom: 4rem;
    width: max-content;
}

#customers-comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50rem;
    height: 20rem;
    background-color: #181818;
    border-radius: 0.4rem;
    box-shadow: 0px 4px 13px 3px rgba(24, 24, 24, 1);
}

#customers-comment-vl {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 3rem;
}

#customers-comment-vl hr {
    width: 5rem;
}

#customer-name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

#customer-name span {
    color: #feb960;
}

#customer-name hr {
    width: 13rem;
    height: 0rem;
    border-color: #474747;
}

#customers-comment-container blockquote {
    font-size: 11pt;
    text-align: center;
    width: 41rem;
}

/*Team container style*/
#team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30rem;
    background-color: #181818;
    color: white;
    font-family: "Merriweather Light";
}

#team-header {
    font-size: 9pt;
    color: #feb960;
    padding: 1.5rem 0rem;
}

#team-description {
    font-size: 27pt;
}

#team-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 3rem;
}

.rb {
    border-right: 1px solid #1c1c1c;
    width: 0rem;
}

.db {
    border-bottom: 1px solid #1c1c1c;
}

.team-boxs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
}

.team-profile {
    width: 6rem;
}

.team-name {
    color: #feb960;
    font-size: 9pt;
    padding: 1.3rem 0rem;
}

.team-skill {
    font-size: 8pt;
}

/*Contac us container*/
#contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: max-content;
    background-color: #343434;
    font-family: "Merriweather Light";
    color: white;
}

#contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50rem;
    height: max-content;
    text-align: center;
    background-color: #181818;
    border-radius: 0.2rem;
}

#contact-form input {
    width: 23rem;
    margin-bottom: 2rem;
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #5c5c5c;
    color: white;
}
#contact-form input:focus{
    transition: all ease 1s;
    border-bottom-color: #feb960;
}
#contact-footer div {
    width: 12rem;
}

#contact-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50rem;
    justify-content: space-between;
    padding: 6rem 0rem;
}
#company-address{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#company-address span{
    font-size: 9pt;
}
#other-contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
}
#other-contact span{
    font-size: 9pt;
}
#contact-form-box {
    padding: 3rem 0rem;
}
#contact-title{
    color: #feb960;
    font-size: 8pt;
}
#contact-description{
    font-size: 25pt;
    padding: 2rem 0rem;
}
#contact-submit{
    background-color: #feb960;
    width: 10rem;
    height: 3rem;
    border-radius: 0.2rem;
    border: 0px;
}
#contact-submit img{
    filter: grayscale(100%);
}