/*Responsive*/
@media only screen and (max-width: 1150px) {
  #introduce-container {
    > #fusion-logo {
      bottom: 7rem;
    }
    > #get-in-touch {
      bottom: 7rem;
    }
  }
}

@media only screen and (max-width: 990px) {
  #introduce-container {
    > #introduce-description {
      width: 38rem;
      padding: 2rem 0.4rem;
      font-size: 3rem;
    }
    > #introduce-services {
      padding-top: 2rem;
      font-size: 0.8rem;
    }
  }
}

@media only screen and (max-width: 880px) {
  #introduce-container {
    height: 44.2rem;
    > #fusion-logo {
      margin-bottom: 2rem;
    }
    > #get-in-touch {
      margin-bottom: 2rem;
    }
  }
}
@media only screen and (max-width: 810px) {
  #introduce-container {
    > #introduce-description {
      width: 33rem;
      padding: 1rem 0.3rem;
      font-size: 2.6rem;
    }
  }
}

@media only screen and (max-width: 725px) {
  #introduce-container {
    > #introduce-description {
      font-size: 2.2rem;
    }
    > #introduce-services {
      font-size: 0.7rem;
    }
    > #fusion-logo {
      margin-bottom: 9rem;
    }
    > #get-in-touch {
      margin-bottom: 9.5rem;
    }
  }
}

@media only screen and (max-width: 550px) {
  #introduce-container {
    > #introduce-description {
      width: 24rem;
      padding: 2rem 0.5rem;
    }
  }
}

@media only screen and (max-width: 430px) {
  #introduce-container {
    > #introduce-description {
      font-size: 1.8rem;
      width: 17rem;
    }
  }
}
